extends ../layout

block content
    h1= title
    p Welcome to #{title}



    p vous allez  perdre l article complet

    form(method="POST" action="/articles/delete/" + article._id + "?_method=DELETE")


        .col-md-12
            .form-group
                a.btn.btn-primary(type="submit") valider


