extends ../layout

block content
    h1= title

    pre=datatoread
    p Welcome to #{title}





    form(method='POST' action="/articles/update/" +  article._id + "?_method=PUT")


        each category in categories
            input(type='radio', name='category', value=category.title)
            =category.title
        input(type="text" name="title" placeholder="title" value= article.title)
        textarea(name="contents" rows='4', cols='50' placeholder="Content")
            =article.contents


        button(type="submit") valider





