extends ../layout

block offline
  if userStatus == true
    li.active
        a(href='/users/logout')
            span
                | Deconnexion
                span.border

  li
      a(href='/articles/')
          span
              | Articles
              span.border
  li
      a(href='/users/profil')
          span
              | Profil
              span.border
  li
      a(href='/admin/categories/')
          span
              | Thématiques
              span.border

  li
      a(href='elements.html')
          span
              | A propos
              span.border

block content
    h1= title

    .row

        form(method='POST' action="/articles/update/" + article._id + "?_method=PUT")
            .col-md-12
                .form-group
                    br
                    label.sr-only Thématique
                    select.form-control.input-lg(name='category')

                        each category in categories
                            option #{category.title}

            .col-md-12
                .form-group
                    label.sr-only(for='name') Titre
                    input#name.form-control.input-lg(placeholder='Titre', type='text', name='title',value=article.title)

            .col-md-12
                .form-group
                    label.sr-only(for='message') Contenu
                    textarea#message.form-control.input-lg(placeholder='Message', rows='3', name="contents")
                        =article.contents



            .col-md-12
                .form-group
                    button.btn.btn-primary(type="submit") valider
                    a.btn.btn-primary(href='../') Retour à la liste complet
