extends ../layout
block offline
block content
    h1 Connexion



    .row

        form(method="POST" action="/users/login")

            .col-md-12
                .form-group
                    label.sr-only(for='name') Pseudo
                    input#name.form-control.input-lg(type='text', name='pseudo')

            .col-md-12
                .form-group
                    label.sr-only(for='password') Mot de passe
                    input#password.form-control.input-lg( type='password', name="mdp")



            .col-md-12
                .form-group
                    button.btn.btn-primary(type="submit") Se connecter
