extends ../layout
block content
  br
  br
  button(href="/users/create") S'inscrire
  form(method="POST" action="/users/login")
    input(type="text" name="pseudo")
    br
    br
    input(type="password" name="mdp")
    br
    br
    button Se connecter
