//
   Created by mac on 06/10/2016.



html

p vous allez  perdre toutes vos donnees

    form(method="POST" action="/users/delete/"+ user._id +"?_method=DELETE")
        button(type="submit") valider

