extends ../layout
block content
    h1= title
    p Welcome to #{title}

p vous allez  perdre toutes vos donnees
  p vous allez  perdre toutes vos donnees
    form(method="POST" action="/users/delete/"+ user._id +"?_method=DELETE")
      button(type="submit") valider
