extends ../layout
block offline
  li.active
      a(href='/users/logout')
          span
              | Deconnexion
              span.border

  li
      a(href='/articles/')
          span
              | Articles
              span.border
  li
      a(href='/users/profil')
          span
              | Profil
              span.border
  li
      a(href='/admin/categories/')
          span
              | Thématiques
              span.border

  li
      a(href='elements.html')
          span
              | A propos
              span.border
block content
    h1= title
    p Welcome to #{title}

p Vous ne pourrez plus vous connecter sous ce compte. Etes-vous sûr de vouloir Continuer?
  p Vous ne pourrez plus vous connecter sous ce compte. Etes-vous sûr de vouloir Continuer?
    form(method="POST" action="/users/delete/"+ user._id +"?_method=DELETE")
      button(type="submit") valider
