<<<<<<< HEAD
//
   Created by Julien on 05/10/2016.

=======
extends ../layout

block content
    h1= title
    p Welcome to #{title}

    ul
        each user in users
            li= user.name
            li= user._id


>>>>>>> 411ec110a5e47788de89266cbf84360367b25d43
