//
   Created by mac on 05/10/2016.





form(method='post')
    input(type="text" name="name" placeholder="name")
    input(type="text" name="firstName" placeholder="firstName")
    input(type="email" name="email" placeholder="email")
    input(type="text" name="pseudo" placeholder="pseudo")
    input(type="text" name="mps" placeholder="mps")
    input(type="text" name="email" placeholder="email")
    button(type="submit") valider




    name: {type: String, required: true},
    firstName: {type: String, required: true},
    email: {type: String, required: true},
    pseudo: {type: String, required: true},
    adress: {type: String, required: true},
    mps: {type: String, required: true},
    status: {type: String},
    active: {type: Boolean},