//
   Created by mac on 05/10/2016.
html




form(method='POST')
    input(type="text" name="name" placeholder="name")
    input(type="text" name="firstName" placeholder="firstName")
    input(type="text" name="pseudo" placeholder="pseudo")
    input(type="password" name="mps" placeholder="mps")
    input(type="password" name="mps" placeholder="mps")
    input(type="email" name="email" placeholder="email")
    button(type="submit") valider

