extends ../../layout
block titre
    | Commentaire
block content
    h1.createh1 Création d'une Commentaire
    .row

        form(method='POST')
            .col-md-12
                .form-group
                    label.sr-only Contenu
                    input.form-control.input-lg(type='text', name='content')

            .col-md-12
                .form-group
                    button.btn.btn-primary(type="submit") valider