extends ../layout

block content
    h1= title

    pre=datatoread
    p Welcome to Sup cat


    p vous allez  perdre la categorie  complète

        form(method="POST" action="/admin/categories/delete/" + category._id + "?_method=DELETE")
            button(type="submit") valider

