extends ../layout

block content
    h1.createh1 Création d'une thématique
    .row

        form(method='POST')
            .col-md-12
                .form-group
                    label.sr-only Titre
                    input.form-control.input-lg(placeholder='Titre', type='text', name='title')

            .col-md-12
                .form-group
                    button.btn.btn-primary(type="submit") valider