extends ../layout
block offline
  li.active
      a(href='/users/logout')
          span
              | Deconnexion
              span.border

  li
      a(href='/articles/')
          span
              | Articles
              span.border
  li
      a(href='/users/profil')
          span
              | Profil
              span.border
  li
      a(href='/admin/categories/')
          span
              | Thématiques
              span.border

  li
      a(href='elements.html')
          span
              | A propos
              span.border
block content
    h1.createh1 Création d'une thématique
    .row

        form(method='POST')
            .col-md-12
                .form-group
                    label.sr-only Titre
                    input.form-control.input-lg(placeholder='Titre', type='text', name='title')

            .col-md-12
                .form-group
                    button.btn.btn-primary(type="submit") valider
