
html










    form(method='POST' action="/admin/categories/update/" + category._id + "?_method=PUT")
        input(type="text" name="title" value= category.title)
        button(type="submit") valider





