extends ../layout

block content
    h1= title

    .row

        form(method='POST' action="/admin/categories/update/" + category._id + "?_method=PUT")


            .col-md-12
                .form-group
                    label.sr-only(for='name') Titre
                    input#name.form-control.input-lg(placeholder='Titre', type='text', name='title',value=category.title)


            .col-md-12
                .form-group
                    button.btn.btn-primary(type="submit") valider
                    a.btn.btn-primary(href='../') Retour à la liste complet

