extends ../layout

block content
    h1= title
    p Welcome to #{title}




    form(method='POST' action="/admin/categories/update/" + category._id + "?_method=PUT")
        input(type="text" name="title" value= category.title)
        button(type="submit") valider





